In [2]:
import streamlit as st

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [16]:
pwd

'/Users/chakrika/Desktop'

In [22]:
data = pd.read_csv('/Users/chakrika/Desktop/OnlineSalesData.csv')

In [24]:
data.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [30]:
print(data.columns)

Index(['Transaction ID', 'Date', 'Product Category', 'Product Name',
       'Units Sold', 'Unit Price', 'Total Revenue', 'Region',
       'Payment Method'],
      dtype='object')

In [37]:
print(data.isnull().sum())

Transaction ID      0
Date                0
Product Category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [39]:
df_data = data.dropna()

In [41]:
user_item_matrix = data.pivot_table(index='Transaction ID', columns='Product Name', values='Units Sold', fill_value=0)

print("User-Item Matrix:")
print(user_item_matrix.head())

User-Item Matrix:
Product Name    1984 by George Orwell  Adidas 3-Stripes Shorts  \
Transaction ID
10001                             0.0                      0.0
10002                             0.0                      0.0
10003                             0.0                      0.0
10004                             0.0                      0.0
10005                             0.0                      0.0

Product Name    Adidas Essential Track Pants  Adidas FIFA World Cup Football  \
Transaction ID
10001                                    0.0                             0.0
10002                                    0.0                             0.0
10003                                    0.0                             0.0
10004                                    0.0                             0.0
10005                                    0.0                             0.0

Product Name    Adidas Originals Superstar Sneakers  \
Transaction ID
10001                                           0.0
10002                                           0.0
10003                                           0.0
10004                                           0.0
10005                                           0.0

Product Name    Adidas Originals Trefoil Hoodie  \
Transaction ID
10001                                       0.0
10002                                       0.0
10003                                       0.0
10004                                       0.0
10005                                       0.0

Product Name    Adidas Ultraboost Running Shoes  Adidas Ultraboost Shoes  \
Transaction ID
10001                                       0.0                      0.0
10002                                       0.0                      0.0
10003                                       0.0                      0.0
10004                                       0.0                      0.0
10005                                       0.0                      0.0

Product Name    Amazon Echo Dot (4th Gen)  Amazon Echo Show 10  ...  \
Transaction ID                                                  ...
10001                                 0.0                  0.0  ...
10002                                 0.0                  0.0  ...
10003                                 0.0                  0.0  ...
10004                                 0.0                  0.0  ...
10005                                 0.0                  0.0  ...

Product Name    YETI Tundra 65 Cooler  Yeti Rambler 20 oz Tumbler  \
Transaction ID
10001                             0.0                         0.0
10002                             0.0                         0.0
10003                             0.0                         0.0
10004                             0.0                         0.0
10005                             0.0                         0.0

Product Name    Yeti Rambler Bottle  Yeti Rambler Tumbler  \
Transaction ID
10001                           0.0                   0.0
10002                           0.0                   0.0
10003                           0.0                   0.0
10004                           0.0                   0.0
10005                           0.0                   0.0

Product Name    Yeti Roadie 24 Cooler  \
Transaction ID
10001                             0.0
10002                             0.0
10003                             0.0
10004                             0.0
10005                             0.0

Product Name    Yeti Tundra Haul Portable Wheeled Cooler  \
Transaction ID
10001                                                0.0
10002                                                0.0
10003                                                0.0
10004                                                0.0
10005                                                0.0

Product Name    Youth to the People Superfood Antioxidant Cleanser  \
Transaction ID
10001                                                         0.0
10002                                                         0.0
10003                                                         0.0
10004                                                         0.0
10005                                                         0.0

Product Name    Zara Summer Dress  iPhone 14 Pro  iRobot Braava Jet M6
Transaction ID
10001                         0.0            2.0                   0.0
10002                         0.0            0.0                   0.0
10003                         0.0            0.0                   0.0
10004                         0.0            0.0                   0.0
10005                         0.0            0.0                   0.0

[5 rows x 232 columns]

In [53]:
from sklearn.neighbors import NearestNeighbors

# Previously prepped data 
user_item_matrix = data.pivot_table(index='Transaction ID', columns='Product Name', values='Units Sold', fill_value=0)

# Initialize KNN model
knn_model = NearestNeighbors(metric='cosine', algorithm='brute')

# Fit the model
knn_model.fit(user_item_matrix.values)

# Look up for Client
#kneighbor means other products similar
user_index = 5  
distances, indices = knn_model.kneighbors(user_item_matrix.iloc[user_index, :].values.reshape(1, -1), n_neighbors=5)

# Get top-n recommended products
recommended_products = [user_item_matrix.columns[i] for i in indices.flatten()]

print("Recommended Products:", recommended_products)

Recommended Products: ['Adidas Originals Trefoil Hoodie', 'Salt, Fat, Acid, Heat by Samin Nosrat', 'Samsung Galaxy Tab S8', 'Rogue Fitness Kettlebell', 'Samsung Galaxy Watch 4']